<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gracie the Wonderdog</title>

   <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


    
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald|Shadows+Into+Light" rel="stylesheet">
<link rel="stylesheet" href="/css/bootstrap4-daydream.min.css">

  </head>
  <body>

  
<div class="jumbotron bg-primary text-center text-white mb-0 radius-0">
  <div class="container">
    <h1 class="display-1 text-success text-uppercase title-margin-fix">Gracie</h1>
    <h1 class="display-3 text-white text-handwriting text-uppercase">The Wonderdog</h1>
    

   <!-- <div>
      <a href="#!"
         class="btn btn-outline-light btn-lg m-2 btn-hover-text-primary">
        <span>A Button</span>
      </a>

      <a href="#!"
         class="btn btn-outline-light btn-hover-text-primary btn-lg m-2">
        <span>Another button</span>
      </a>
    </div> -->
  </div>
</div>
<section>
  <div class="container">
    <div class="section-heading text-center">
      <h2>Meet Gracie!</h2>
     <!-- <p class="text-muted">Check out what you can do with this app theme!</p> -->
      <hr>
    </div>
    <div class="row">
      <div class="col-lg-4 my-auto">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <div class="screen">
                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                <img src="https://via.placeholder.com/350x350" class="img-fluid" alt="">
              </div>
              <div class="button">
                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 my-auto">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="fas fa-paw text-primary"></i>
                <h3>Sheltie</h3>
                <p class="text-muted"></p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="fas fa-deaf text-primary"></i>
                <h3>Deaf</h3>
                <p class="text-muted"></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="fas fa-baseball-ball text-primary"></i>
                <h3>Loves to run</h3>
                <p class="text-muted"></p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="fas fa-bed text-primary"></i>
                <h3>Sleeping on blue chair</h3>
                <p class="text-muted"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="https://via.placeholder.com/350x350" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">For those about to rock...</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="https://via.placeholder.com/350x350" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">We salute you!</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
        </div>
      </div>
    </div>
  </div>
</section>



 <!-- <div class="container py-5">
    <h1>Thanks</h1>

    <p>Thank you for downloading this theme. If you have trouble or find a bug, please open an issue on GitHub:<br>
    <a href="https://github.com/HackerThemes/theme-machine">https://github.com/HackerThemes/theme-machine</a></p>

   
  </div> -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

  </body>
</html>
